h1 {
    text-align: center;
}

#game {
    margin: 0 auto;
    width: 40%;
}

.score {
    float: right;
}

canvas {
    width: 240px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    display: block;
}